---
layout: base
---

.slides
  %section.title(data-state="cycling" )
    .title-information
      %h2 Presentations
      %h5
        :markdown
          * [JAX London 2013 - OpenShift Primer workshop] (jaxlondon2013_openshift.html)

    .title-author
      Eric D. Schabell
      %br
        Jboss Technology Evangelist (Integration & BPM)
      %a{ :href=>"http://twitter.com/ericschabell"}@ericschabell
